* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f6f8fd;
  font-family: "Montserrat", sans-serif;
  list-style-type: none;
  color: #393e46;
  text-decoration: none;
}
h1 {
  font-size: 2.25rem;
  font-weight: 600;
}
p {
  color: #393e46;
}
.btn {
  border: none;
  background-color: #00adb5;
  color: #f6f8fd;
  border-radius: 25px;
}
.head-content {
  text-align: center;
}
.head-content > p {
  color: #00adb5;
  size: 1rem;
  font-weight: 400;
}
.head-content > h1 {
  margin-top: 0.5rem;
  margin-bottom: 4rem;
}
.container {
  margin: 0 6.375rem 10.5rem 6.375rem;
}
.row {
  display: flex;
  justify-content: space-between;
}
.card {
  background-color: #f6f8fd;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2.125rem;
  flex: auto;
  /* margin: 0 2rem; */
  position: relative;
}

/* Navigation Bar */
nav {
  padding: 1.875rem 6.25rem 0 6.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.link-menu > ul {
  display: flex;
}
.link-menu > ul > li {
  margin: 0.75rem 1.75rem;
}
.login > ul {
  display: flex;
}
.login > ul > li > a {
  margin: 0.75rem 1.875rem;
  display: inline-block;
}
.login > ul > li > button {
  padding: 0.75rem 1.125rem;
}

/* Header */
.head-container {
  display: flex;
  margin: 3.4375rem 6.25rem 7.8125rem 6.25rem;
}
.head-text {
  margin-top: 5.125rem;
  margin-right: 2.6875rem;
}
.head-text > h1 {
  font-weight: 600;
  line-height: 3rem;
  color: #00adb5;
  font-size: 2.875rem;
}
.head-text > p {
  font-size: 1rem;
  line-height: 17.74px;
  margin-top: 2.5rem;
  margin-right: 6rem;
}
.head-text > button {
  padding: 0.9375rem 3.5rem;
  margin-top: 7.5rem;
  font-weight: 500;
  font-size: 1.125rem;
  cursor: pointer;
}
.head-img > img {
  max-width: 38.1875rem;
}

/* Courses */
.courses {
  width: 25%;
  text-align: center;
}
.courses:nth-child(2),
.courses:nth-child(3),
.courses:nth-child(4) {
  margin-left: 2rem;
}
.courses-img {
  margin: 4rem 0 1rem 0;
  max-width: 6.875rem;
}
.course-title {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 4rem;
}
.courses-btn {
  border-radius: 7px;
  font-size: 1rem;
  cursor: pointer;
  padding: 0.5rem 4rem;
  text-align: center;
  margin: 4rem 0 2rem 0;
}
#btnDataMining,
#btnSeo {
  margin: 5.75rem 0 2rem 0;
}

/* Blogs */
.blogs {
  display: flex;
}
