* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f6f8fd;
  font-family: "Montserrat", sans-serif;
  list-style-type: none;
  color: #393e46;
  text-decoration: none;
}
h1 {
  font-size: 2.25rem;
  font-weight: 600;
}
p {
  color: #393e46;
}
.btn {
  border: none;
  background-color: #00adb5;
  color: #f6f8fd;
  border-radius: 25px;
  opacity: 65%;
}
.btn:hover {
  opacity: 100%;
}
.content-title {
  text-align: center;
}
.content-title > p {
  color: #00adb5;
  size: 1rem;
  font-weight: 400;
}
.content-title > h1 {
  margin-top: 0.5rem;
  margin-bottom: 4rem;
}
.container {
  margin: 0 6.375rem 10.5rem 6.375rem;
}
.row {
  display: flex;
  justify-content: space-between;
}
.card {
  background-color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2.125rem;
  flex: auto;
  position: relative;
}

/* Navigation Bar */
nav {
  padding: 1.875rem 6.25rem 0 6.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.link-menu > ul {
  display: flex;
}
.link-menu > ul > li {
  margin: 0.75rem 1.75rem;
}
.login > ul {
  display: flex;
}
.login > ul > li > a {
  margin: 0.75rem 1.875rem;
  display: inline-block;
}
.login > ul > li > button {
  padding: 0.75rem 1.125rem;
  width: 100%;
}
.active {
  color: #00adb5;
  font-weight: bold;
  border-bottom: medium solid #00adb5;
  padding-bottom: 0.5rem;
}

/* Responsive Navbar */
/* #nav-toggle {
  position: absolute;
}
nav > .icon-burger {
  display: none;
  background-color: transparent;
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateX(-50%);
}
nav > .icon-burger > .line {
  width: 30px;
  height: 4px;
  background-color: #393e46;
  margin: 5px;
  border-radius: 3px;
} */

/* Header */
header {
  margin: 3.4375rem 6.25rem 7.8125rem 6.25rem;
  position: relative;
}
.head-container {
  display: flex;
}
.head-text {
  margin-top: 5.125rem;
  margin-right: 2.6875rem;
}
.head-text > h1 {
  font-weight: 600;
  line-height: 3rem;
  color: #00adb5;
  font-size: 2.875rem;
}
.head-text > p {
  font-size: 1rem;
  line-height: 17.74px;
  margin-top: 2.5rem;
  margin-right: 6rem;
}
header > button {
  padding: 0.9375rem 3.5rem;
  font-weight: 500;
  font-size: 1.125rem;
  cursor: pointer;
  position: absolute;
  top: 78%;
}
.head-img > img {
  width: 38.1875rem;
  background-color: transparent;
}

/* Courses */
.courses {
  width: 25%;
  text-align: center;
  background-color: transparent;
}
.courses:nth-child(2),
.courses:nth-child(3),
.courses:nth-child(4) {
  margin-left: 2rem;
}
.courses-img {
  margin: 4rem 0 1rem 0;
  width: 6.875rem;
}
.course-title {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 4rem;
}
.courses-btn {
  border-radius: 7px;
  font-size: 1rem;
  cursor: pointer;
  padding: 0.5rem 0;
  width: 80%;
  text-align: center;
  margin: 4rem 0 2rem 0;
}
#btnDataMining,
#btnSeo {
  margin: 5.75rem 0 2rem 0;
}

/* Blogs */
.blogs {
  width: 33.33%;
  margin-bottom: 2rem;
  background-color: transparent;
}
.blogs:nth-child(2),
.blogs:nth-child(3) {
  margin-left: 3rem;
}

.blogs > img {
  width: 100%;
  height: 50%;
  border-top-left-radius: 2.125rem;
  border-top-right-radius: 2.125rem;
}
.blog-text {
  margin: 1.5625rem 1.25rem 0 1.25rem;
}
.blog-text > h2 {
  font-size: 1.125rem;
  margin-bottom: 1.5625rem;
  font-weight: 700;
}
.blog-text > .blog-desc {
  font-size: 0.75rem;
}
.read-more {
  text-decoration: underline;
  text-transform: uppercase;
  color: #00adb5;
  font-weight: bolder;
  font-size: 1.125rem;
  display: block;
  margin: 3rem auto;
}

/* Events */
.event {
  width: 33.33%;
  height: 70vh;
  background-color: transparent;
}
.event:nth-child(2),
.event:nth-child(3) {
  margin-left: 3rem;
}
.event > img {
  width: 100%;
  height: 50%;
  border-top-left-radius: 2.125rem;
  border-top-right-radius: 2.125rem;
}
.event-text {
  margin: 1.5625rem 1.25rem 0 1.25rem;
}
.event-text > h2 {
  font-weight: 600;
  font-size: 1.125rem;
  margin-bottom: 1rem;
}
.event-text > .event-desc {
  font-weight: 400;
  font-size: 0.75rem;
  margin-bottom: 1.25rem;
}
.datetime-event {
  display: flex;
  margin-bottom: 1.5rem;
  justify-content: space-between;
}
.datetime-event > i {
  font-size: 1.5625rem;
}
.datetime-event > .datetime-desc {
  font-weight: 500;
  font-size: 0.75rem;
  color: #696969;
  margin: auto 1rem;
}
.datetime-desc:nth-child(2) {
  margin-right: 1.5rem;
}
.event-btn {
  width: 100%;
  padding: 0.5rem 0;
  font-size: 0.875rem;
  font-weight: 600;
  display: block;
  margin: 0 auto;
  border-radius: 7px;
  cursor: pointer;
}
hr {
  margin-bottom: 1.5rem;
}

/* Review */
.review {
  width: 33.33%;
  height: 60vh;
  text-align: center;
  background-color: transparent;
}
.review:nth-child(2),
.review:nth-child(3) {
  margin-left: 3rem;
}
.review:nth-child(1),
.review:nth-child(3) {
  margin-top: 5.9375rem;
}
.sub-card {
  background-color: #00adb5;
  width: 100%;
  height: 50%;
  border-radius: 2.125rem;
}
.sub-card > .fa-quote-right,
.sub-card > q {
  color: #f6f8fd;
  background-color: #00adb5;
}
.review-text {
  text-align: center;
  padding: 2.5rem 2.375rem 0 2.375rem;
}
.fa-quote-right {
  font-size: 2.5rem;
  display: block;
  margin-bottom: 1rem;
}
q {
  display: block;
  font-size: 0.875rem;
}
.profile-picture {
  width: 6.25rem;
  position: absolute;
  top: 38%;
  left: 38%;
  background-color: transparent;
  z-index: 1;
}
.biodata-top,
.biodata-bottom {
  text-align: center;
  padding: 4rem 0 1rem 0;
}
.biodata-bottom {
  background-color: #00adb5;
  position: absolute;
  bottom: 0;
}
.biodata-bottom > .reviewers-name,
.biodata-bottom > .reviewers-job {
  background-color: #00adb5;
  color: #f6f8fd;
}
.reviewers-name {
  font-size: 1.5rem;
  font-weight: bolder;
  margin-bottom: 0.5rem;
}
.reviewers-job {
  font-size: 0.75rem;
  margin-bottom: 1rem;
}
.rating {
  background-color: transparent;
  width: 9.6875rem;
}

/* Footer */
footer {
  margin: 20rem 6.375rem 1.5rem 6.375rem;
}
.footer-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4.5625rem;
}
.company-desc {
  width: 60%;
}
.company-desc > img {
  margin-bottom: 1.375rem;
}
.company-desc > p {
  font-size: 0.875rem;
  font-weight: 400;
  width: 50%;
}
.footer-list-content {
  display: flex;
  font-size: 0.875rem;
  flex: auto;
  justify-content: space-between;
  width: 40%;
}
.list-title {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1.5625rem;
}
.about-us,
.services {
  margin-right: 3.125rem;
}
.about-us > ul > li,
.services > ul > li,
.guides > ul > li {
  margin-bottom: 0.625rem;
}
#copyright {
  text-align: center;
  font-size: 0.875rem;
  margin: 1.5rem 0;
}

/* Tablet */
@media screen and (max-width: 769px) {
  header {
    margin: 3.4375rem 4.375rem 5.5rem 4.375rem;
  }
  .container {
    margin: 0 4.375rem 10.5rem 4.375rem;
    display: flex;
  }
  .row {
    flex-wrap: wrap;
  }
  .content-title > p {
    size: 0.75rem;
  }
  .content-title > h1 {
    font-size: 1.5rem;
    margin-top: 0.1875rem;
    margin-bottom: 2.5rem;
  }
  .card {
    flex: auto;
  }

  /* Navbar */
  nav {
    justify-content: space-between;
    padding: 1.875rem 4.375rem 0 4.375rem;
  }
  .link-menu > ul > li > a {
    font-size: 0.875rem;
  }
  .nav > .logo > img {
    width: 39px;
  }
  .login {
    display: none;
  }
  .link-menu > ul > li {
    margin: 0.75rem 1rem;
  }
  .head-img > img {
    width: 16.875rem;
  }

  /* Header */
  .head-text {
    margin-top: 3rem;
    margin-right: 2.625rem;
    margin-bottom: 5.9375rem;
  }
  .head-text > h1 {
    font-size: 1.5rem;
    line-height: 1.625rem;
    color: #00adb5;
  }
  .head-text > p {
    font-size: 0.75rem;
    line-height: 13px;
    margin-top: 0.875rem;
    margin-right: 0;
  }
  header > button {
    padding: 0.6875rem 0;
    width: 100%;
    font-size: 1rem;
    cursor: pointer;
    top: 100%;
  }

  /* Course */
  .courses {
    width: 40%;
    /* height: 25vh; */
    margin-bottom: 1rem;
  }
  .courses:nth-child(2),
  .courses:nth-child(3),
  .courses:nth-child(4) {
    margin-left: 0;
  }
  .courses:nth-child(2),
  .courses:nth-child(4) {
    margin-left: 1.5rem;
  }
  .courses-img {
    margin: 1.25rem 0 1rem 0;
    width: 3.75rem;
  }
  .course-title {
    font-size: 1rem;
  }
  .courses-btn {
    font-size: 0.75rem;
    padding: 0.5rem 0;
    margin: 1rem 0 1.25rem 0;
  }
  #btnDataMining,
  #btnSeo {
    margin: 1rem 0 1.25rem 0;
  }
}
